<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni1C50</key>
    <string>uni1C_50.glif</string>
    <key>uni1C51</key>
    <string>uni1C_51.glif</string>
    <key>uni1C52</key>
    <string>uni1C_52.glif</string>
    <key>uni1C53</key>
    <string>uni1C_53.glif</string>
    <key>uni1C54</key>
    <string>uni1C_54.glif</string>
    <key>uni1C55</key>
    <string>uni1C_55.glif</string>
    <key>uni1C56</key>
    <string>uni1C_56.glif</string>
    <key>uni1C57</key>
    <string>uni1C_57.glif</string>
    <key>uni1C58</key>
    <string>uni1C_58.glif</string>
    <key>uni1C59</key>
    <string>uni1C_59.glif</string>
    <key>uni1C5A</key>
    <string>uni1C_5A_.glif</string>
    <key>uni1C5B</key>
    <string>uni1C_5B_.glif</string>
    <key>uni1C5C</key>
    <string>uni1C_5C_.glif</string>
    <key>uni1C5D</key>
    <string>uni1C_5D_.glif</string>
    <key>uni1C5E</key>
    <string>uni1C_5E_.glif</string>
    <key>uni1C5F</key>
    <string>uni1C_5F_.glif</string>
    <key>uni1C60</key>
    <string>uni1C_60.glif</string>
    <key>uni1C61</key>
    <string>uni1C_61.glif</string>
    <key>uni1C62</key>
    <string>uni1C_62.glif</string>
    <key>uni1C63</key>
    <string>uni1C_63.glif</string>
    <key>uni1C64</key>
    <string>uni1C_64.glif</string>
    <key>uni1C65</key>
    <string>uni1C_65.glif</string>
    <key>uni1C66</key>
    <string>uni1C_66.glif</string>
    <key>uni1C67</key>
    <string>uni1C_67.glif</string>
    <key>uni1C68</key>
    <string>uni1C_68.glif</string>
    <key>uni1C69</key>
    <string>uni1C_69.glif</string>
    <key>uni1C6A</key>
    <string>uni1C_6A_.glif</string>
    <key>uni1C6B</key>
    <string>uni1C_6B_.glif</string>
    <key>uni1C6C</key>
    <string>uni1C_6C_.glif</string>
    <key>uni1C6D</key>
    <string>uni1C_6D_.glif</string>
    <key>uni1C6E</key>
    <string>uni1C_6E_.glif</string>
    <key>uni1C6F</key>
    <string>uni1C_6F_.glif</string>
    <key>uni1C70</key>
    <string>uni1C_70.glif</string>
    <key>uni1C71</key>
    <string>uni1C_71.glif</string>
    <key>uni1C72</key>
    <string>uni1C_72.glif</string>
    <key>uni1C73</key>
    <string>uni1C_73.glif</string>
    <key>uni1C74</key>
    <string>uni1C_74.glif</string>
    <key>uni1C75</key>
    <string>uni1C_75.glif</string>
    <key>uni1C76</key>
    <string>uni1C_76.glif</string>
    <key>uni1C77</key>
    <string>uni1C_77.glif</string>
    <key>uni1C78</key>
    <string>uni1C_78.glif</string>
    <key>uni1C79</key>
    <string>uni1C_79.glif</string>
    <key>uni1C7A</key>
    <string>uni1C_7A_.glif</string>
    <key>uni1C7B</key>
    <string>uni1C_7B_.glif</string>
    <key>uni1C7C</key>
    <string>uni1C_7C_.glif</string>
    <key>uni1C7D</key>
    <string>uni1C_7D_.glif</string>
    <key>uni1C7E</key>
    <string>uni1C_7E_.glif</string>
    <key>uni1C7F</key>
    <string>uni1C_7F_.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
  </dict>
</plist>
